#!/usr/bin/env bash

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
  colorflag="--color"
else # OS X `ls`
  colorflag="-G"
fi

# Always use color output for `ls`
alias ls="command ls ${colorflag}"
export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'

# dot setup / git syncing
alias dot-git='/usr/bin/git --git-dir=$HOME/src/dotfiles --work-tree=$HOME'

# shortcuts to the system
alias wifi='networksetup -setairportpower en0 off; sleep 3; networksetup -setairportpower en0 on'
alias sound='sudo launchctl kickstart -kp system/com.apple.audio.coreaudiod'

# goin for it
alias yolo-ssh='ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no'
alias yolo-push='git push --set-upstream origin $(git symbolic-ref --short HEAD)'

# hnnng
alias yeet="rm -rf"

# can never remember the wc l
alias count='wc -l'

# so many profiiles
# shellcheck disable=SC2142
alias aws-profile-export='export AWS_PROFILE=$(grep "^\[profile " "${HOME}/.aws/config" | awk "{print \$2}" | sed "s/]$//g" | fzf --prompt="Select profile: " --height=50% --reverse) && echo "AWS_PROFILE set to $AWS_PROFILE"'
alias aws-creds-export='eval "$(aws configure export-credentials --profile $AWS_PROFILE --format env)"'
alias aws-unset-exports='for i in $(env | grep -i aws | sed "s/=.*$//"); do unset "$i"; done'
alias aws-check-exports='env | grep -i AWS'

# https://stackoverflow.com/questions/34601650/how-do-i-run-curl-command-from-within-a-kubernetes-pod
alias kcurl='kubectl run -it --rm --image=curlimages/curl curly -- /bin/sh'
#
# aliases in the array benefit from auto complete
declare -A arr
  # bundle exec is for a younger me
  arr[be]='bundle exec'

  # colorize our cat
  arr[cat]='ccat'

  # who has the time
  arr[k]='kubectl'

  # who has the tiiiime
  arr[ga]='git add'
  arr[gb]='git branch'
  arr[gc]='git commit'
  arr[gco]='git checkout'
  arr[gd]='git diff'
  arr[gpl]='git pull'
  # arr[gpu]='git push'
  arr[g]='git'
  arr[gs]='git status'
  arr[gst]='git stash'

  # I don't feel like fixing nodenv path problems today
  arr[tsc]='npx tsc'
for i in "${!arr[@]}"; do
  alias "${i}"="${arr[${i}]}"

  complete -F _complete_alias "${i}" # https://github.com/cykerway/complete-alias
done

unset arr
