# Make vim the default editor
export EDITOR="vim"

# Ignore/erase duplicate lines and ignore commands started w space / tab
export HISTCONTROL=ignoredups:erasedups
export HISTCONTROL=ignoreboth

# Eternal bash history.
# http://stackoverflow.com/questions/9457233/unlimited-bash-history
export HISTFILESIZE=
export HISTSIZE=

# !!! export HISTTIMEFORMAT="[%F %T] " # trailing spaces break stuff

# Change the file location because certain bash sessions truncate .bash_history file upon close.
# http://superuser.com/questions/575479/bash-history-truncated-to-500-lines-on-each-login
export HISTFILE=~/.bash_eternal_history

# Prefer US English and use UTF-8
export LANG="en_US"
export LC_ALL="en_US.UTF-8"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto"

# FZF search command
export FZF_DEFAULT_COMMAND='rg --files --hidden --glob "!.git/*"'

# deprecated w osx monterey
# export PATH="/usr/local/sbin:$PATH"
# export PATH="/usr/local/bin:$PATH"


# OKGO
# export GOPATH="${HOME}/src/go"
# export GOROOT="$(brew --prefix golang)/libexec"
# export PATH="$PATH:${GOPATH}/bin:${GOROOT}/bin"

# bash-completion@2
export BASH_COMPLETION_COMPAT_DIR="/usr/local/etc/bash_completion.d"

# tfenv on m1; actually maybe don't do this and just rely on rosetta
# TFENV_ARCH=arm64