# print all the 256 colors supported by terminal
allthecolors() {
  x=$(tput op) y=$(printf %$((${COLUMNS}-6))s);for i in {0..256};do o=00$i;echo -e ${o:${#o}-3:3} $(tput setaf $i;tput setab $i)${y// /=}$x;done;
}

# Decode \x{ABCD}-style Unicode escape sequences
unidecode() {
  perl -e "binmode(STDOUT, ':utf8'); print \"$@\""
  # print a newline unless we’re piping the output to another program
  if [ -t 1 ]; then
      echo # newline
  fi
}

retry() {
  let backoff=5
  false
  while [[ $? -ne 0 && $? -ne 130 ]]; do
      "$@" || (sleep $((backoff*=2));false)
  done
}

# privnote cli
privnote() {
  echo "input semi secret"
  read -r input
  local message="$input"
  local password="$(perl -pe 'binmode(STDIN, ":bytes"); tr/A-Za-z0-9//dc;' < /dev/urandom | head -c 9; echo)" # a password is required.
                                                                                                              # randomly generate one in a format privote accepts
  local data=$(echo "$message" | openssl enc -e -aes-256-cbc -k "$password" -a -md md5)s
  local note_link=$(curl -s 'https://privnote.com/' \
                    -H 'X-Requested-With: XMLHttpRequest' \
                    --data-urlencode "data=$data" \
                    --data "has_manual_pass=false&duration_hours=0&dont_ask=false&data_type=T&notify_email=&notify_ref=" \
                    | jq -r --arg arg "$password" '.note_link + "#" + $arg')
  echo "$note_link" | pbcopy
  echo "note URL is $note_link"
}

dot-edit () {
  pushd "$HOME" > /dev/null
  if [ -e ".gitignore" ]; then
    cat .gitignore | grep -F . | tr -d ! | xargs -I {} subl {}
  else
    echo "dotfile .gitignore not found"
  fi
  popd > /dev/null
}
