[user]
	email = bongardino@gmail.com
	name = Bongardino
[core]
	excludesfile = /Users/mikebongardino/.gitignore_global
	hooksPath = ~/.git-templates/hooks
[init]
	templatedir = /Users/mikebongardino/.git-templates
	defaultBranch = main
[pull]
	rebase = false
[credential]
	helper = osxkeychain
[push]
	autoSetupRemote = true
