[user]
	email = bongardino@gmail.com
	name = Bongardino
[core]
	excludesfile = ~/.gitignore_global
	hooksPath = ~/.git-templates/hooks
[init]
	templatedir = /Users/mikebongardino/.git-templates
[pull]
	rebase = false
[credential]
	helper = osxkeychain
