*
# explicitly allow these
!.aliases
!.bash_profile
!.bash_prompt
!.bashrc
!.bashrc.local
!.exports
!.functions
!.gitconfig
!.gitignore
!.gitignore_global
!.hushlogin
!.inputrc
!.iterm_vars
!.lesshst
!.vimrc
